* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

body nav {
    display: flex;
    padding: 1rem;
    background-color: #F8F9FA;
}

.couleur {
    color: #409B71;
    border-color: #409B71;
}
.BoutonAjout {
  padding: 0.25rem;

}

body a {
    text-decoration: none;
    color: black;
    padding-right: 15px;
}

.navbar-brand {

}

.nav-item {
    font-size: 14px;
}

h1 {
    font-size: 1.575rem;
    padding-left: 1rem;
}

.ms-1 {
    padding-left: 1rem;
}

.flex {
    display: flex;
    padding-left: 1rem;

}

.MaListe {
    padding-left: 3rem;
}

ul li {
    list-style-type: none;
    border: #9EA3B3 solid 1px;
    padding:0.25rem;
    font-size: 14px;

}

h2 {
    font-size: 20px;
}
h2,h3{
    padding-bottom: 0.575rem;
}

.text-muted {
    font-size: 14px;

}

.col-form-label {
    display: flex;
    margin: 20px;
}

.bouton {
    justify-content: right;
}

h1, h2, h3, h4 {
    padding-top: 1rem;
}

#Total {
    text-align: right;
    color: #9EA3B3;
    font-size: 14px;

}
.gris {
    color: #9EA3B3;
}
.gras {
    font-weight: 700;
}
.petit {
    font-size: 14px;

}
